<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
<form>
    <table>
        <tr>
            <td class="lable">
                Username:
            </td>
            <td>
                <input type="text" name="username" value="{{username}}">
            </td>
        </tr>
        <tr>
            <td class="lable">
                Password:
            </td>
            <td>
                <input type="password" name="password" value="">
            </td>
        </tr>
    </table>
    <div>{{error}}</div>
        <input type="submit">
</form>


</body>
</html>